body {
  background-color: rgba(0, 0, 0, 0.865);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  border-radius: 20px;
  max-width: 300px;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
}

.cont {
  font-size: 22px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.image img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}

.intr {
  max-width: 700px;
  line-height: 1.8;
}

.intr h2, .intr h3 {
  color: #00ffff;
  margin-top: 20px;
}

.intr p {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  .cont {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 20px;
    max-width: 90%;
  }
}
#end,a{
padding-bottom: 10PX;
display: block;
color: #ffffff;
text-align: center;
font-size: 25px;
border-radius: 10px;
background-color:rgba(0, 0, 0, 0.738);
}
a:hover{
color: #00ffff;
}
